* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 35px 10%;
    background-color: #24252a;
  }
  
  .logo {
    position: absolute;
    width: 450px;
    height: 270px;
    left: 20px;
    top: 10px;
  }

  .logo img{
    width: 55%;
    height: 55%;
  }
  
  .nav_links {
    list-style: none;
    display: flex;
  }
  
  .nav_links a,
  .cta,
  .overlay__content a {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    color: #edf0f1;
    text-decoration: none;
  }
  
  .nav_links li {
    padding: 0px 20px;
  }
  
  .nav_links li a {
    transition: all 0.3s ease 0s;
  }
  
  .nav_links li a:hover {
    color: #ffffff;
  }

  .cta {
    margin-left: 20px;
    padding: 5px 20px;
    margin-bottom: 15px;
    background-color: #921818;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
  }
  
  .cta:hover {
    background-color: #921818;
  }
  
  /* Mobil Nav */
  
  .menu {
    display: none;
  }
  
  .overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    background-color: #24252a;
    overflow-x: hidden;
    transition: all 0.5s ease 0s;
  }
  
  .overlay--active {
    width: 100%;
  }
  
  .overlay__content {
    display: flex;
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .overlay a {
    padding: 15px;
    font-size: 36px;
    display: block;
    transition: all 0.3s ease 0s;
  }
  
  .overlay a:hover,
  .overlay a:focus {
    color: #0088a9;
  }
  .overlay .close {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
    color: #edf0f1;
    cursor: pointer;
  }
  
  @media screen and (max-height: 450px) {
    .overlay a {
      font-size: 20px;
    }
    .overlay .close {
      font-size: 40px;
      top: 15px;
      right: 35px;
    }
  }
  
  @media only screen and (max-width: 800px) {
    .nav_links,
    .cta {
      display: none;
    }
    .menu {
      display: initial;
    }
  }

/* Index */

  .portada{
    display: inline;
    float: left;
    margin: 20px;
  }

  .portada img{
    width: 100%;
    border-top: 5px;
    border-radius: 30px;
  }

  .log_nov{
    display: inline;
    float: center;    
    border-radius: 20px;
    margin-left: 25%;
  }

  .log_nov img {
    width: 50%;
    height: 130px;
    border-top: 1px;
  }

  .noticia{
    font-size: auto;
    font-family: "Montserrat", sans-serif;
    background-color: #921818;
    border:5px solid #24252a;
    border-radius: 30px;
    padding: 10px;
    height: 720px;
    width: 350px;
    float: left;
    margin: 30px;
    display: inline;
    color: whitesmoke;
  }
  .noticia img{
    width: 100%;
    border-radius: 20px;
  }

/* Cataleg */

  .base_cataleg{
    height: fit-content;
    width: fit-content;
  }

  .nom_cataleg{
    font-family: "Montserrat", sans-serif;
    border-radius: 30px ;
    padding: 10px;
    height: fit-content;
    width: fit-content;
    float: center;
    margin: auto;
    margin-top: 10px;
    text-align: center;
    color: #921818;
  }
  
  .cataleg{
    font-family: "Montserrat", sans-serif;
    background-color: #921818;
    border:5px solid #24252a;
    border-radius: 30px ;
    padding: 10px;
    height: 700px;
    width: 350px;
    float: left;
    margin: 30px;
    color: whitesmoke;
  }
  .cataleg img{
    width: 320px;
    border-top: 5px;
    border-radius: 20px;
  }

/* Concessionaris */ 

  .concesionaris{
    font-family: "Montserrat", sans-serif;
    border: 5px solid #24252a;
    border-radius: 30px;
    width: fit-content;
    height: fit-content;
    float: left;
    margin: 30px;
    padding: 10px;
    background-color: #921818;
    color: whitesmoke;
  }

/* Contacte */

  .formulari{
    font-family: "Montserrat", sans-serif;
    border: 5px solid #24252a;
    background-color: #921818;
    border-radius: 10px;
    padding: 10px;
    width: fit-content;
    height: fit-content;
    margin: auto;
    margin-top: 30px;
    color: whitesmoke;
  }

  .esdev{
    font-family: "Montserrat", sans-serif;
    background-color: #921818;
    border:5px solid #24252a;
    border-radius: 30px ;
    padding: 10px;
    height: 320px;
    width: 380px;
    float: left;
    color: whitesmoke;
    text-align: center;
    margin: 15px;
    margin-left: 15px;
    
  }

  .esdev img{
    width: 350px;
    border-top: 5px;
    border-radius: 20px;
  }
  .foot{
    font-family: "Montserrat", sans-serif;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    padding: 30px;
    height: 200px;
    background-color: #24252a;
  }

  /*Dropdown Menu*/

  .dropbtn {
    background-color: #04AA6D;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
  }

  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #24252a;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }

  .dropdown-content a {
    color: rgb(248, 248, 248);
    padding: 12px 16px;
    text-decoration:wavy;
    display:block;
    border-radius: 20px;
  }

  .dropdown-content a:hover {background-color: #24252a}

  .dropdown:hover .dropdown-content {display:block;}
